<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Account activation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
    Dear <span th:text="${name}"></span>,
</p>
<p style="color: #000000;">
    Your account has been created, please click on the URL below to activate it:
</p>
<p>
    <a th:href="${url}" th:text="${url}"
       th:with="url=(@{|${activationUrl}/v1/activate?key=${activationKey}|})">Activation link</a>
</p>
<p style="margin-top: 50px;">
    <em>*You must enter this code within <span th:text="${tokenExpiration}"></span> minutes. After this time, you will
        need to request a new activation
        code.</em>
</p>
<p>
    Regards,
    <br/>
    <em>loyaltY team.</em>
</p>
</body>
</html>
