<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Account activation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
    Dear <span th:text="${name}"></span>,
</p>
<p style="color: #000000;">
    Your account has been created, please click on the URL below to activate it:
</p>
<div>
    <a href="@Url.Action(${url})" th:target="_blank" th:text="${url}"
       th:with="url=(@{|${baseUrl}/activate?key=${key}|})"></a>
</div>
<p style="margin-top: 50px;">
    <em>*You must enter this code within <span th:text="${delay}"></span> <span
            th:text="${unit} ?: 'minutes'"></span>.
        After this time, you will need to request a new activation
        code.</em>
</p>
<p>
    Regards,
    <br/>
    <em>loyaltY team.</em>
</p>
</body>
</html>
